@font-face {
  font-family: 'Lexend';
  src: url('../src/assets/fonts/lexend.woff2') format('woff2');
}

#root {
  max-width: 1920px;
  margin: 0 auto;

  font-family: 'Lexend', sans-serif;
}

/* Filter Buttons */
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-btn {
  border: black solid 2px;
  border-radius: 50px;
  padding: 4px 12px;

  position: relative;
  color: black;
  transition: color ease-in-out .4s;
  overflow: hidden;
}

.filter-btn::before {
  content: '';
  display: block;
  background: black;
  width: 105%;
  height: 105%;
  position: absolute;
  border-radius: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform ease-in-out .4s;
  z-index: -1;
}

.filter-btn.active {
  color: white;
}

.filter-btn.active::before {
  transform: scaleX(1);
}

.tag-pill {
  pointer-events: auto;
  cursor: default;
  background-color: rgb(214, 188, 94);
}

/* Side Bar */
.sidebar {
  --sidebar-width: 400px;
  background-color: rgb(216, 209, 186);
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
}


.sidebar > div {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar > div > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap; 
}

.layout {
  display: flex;
  flex-direction:  row;
  gap: 50px;
}

h2 .small {
  font-size: 15px;
}

@media only screen and (max-width: 2020px) {
  #root {
    padding: 0 50px;
  }
}
