@font-face {
  font-family: 'Lexend';
  src: url('../src/assets/fonts/lexend.woff2') format('woff2');
}

#root {
  max-width: 1920px;
  margin: 0 auto;

  font-family: 'Lexend', sans-serif;
}

@media only screen and (max-width: 2020px) {
  #root {
    padding: 0 50px;
  }
}
